<% provide(:title, "ログイン") %>
              <div class="loginpanel_wrap p-t6 p-b6">
                  <div class="loginpanel">
                      <form method="POST" action="" accept-charset="UTF-8" novalidate id="login">
                          <input name="_token" type="hidden" value="">
                          <div class="login_title">
                              <h1>ログイン</h1>
                          </div>
                          <div class="m-b-20"></div>
                          <%= form_for(:session, url: login_path) do |f| %>
                            <div class="input_head">
                            <p><%= f.label :メールアドレス %></p>
                            </div>
                            <%= f.email_field :email, :placeholder => "info@minoiro.com" %>
                            <div class="input_body">
                            <p><%= f.label :パスワード（英数字8文字以上） %></p>
                            </div>
                            <span class="help-block"></span>
                            <%= f.password_field :password, :placeholder => "Password"%>
                            <i class="fa fa-eye icon_eye js-toggle-password"></i>
                            <%= f.submit "ログイン", class:"submit_buttons submit_button primaryButton" %>
                          <% end %>
                          <div class="m-t2">
                          <label> 
                              <input type="checkbox" name="remember">
                              ログインしたままにする
                          </label>
                          </div>
                            <div class="m-t3">
                              <a href="#" class="btn_small">アカウントをお持ちでない方はこちら</a>
                              </div>
                              <div class="m-t1">
                              <a href="#">パスワードをお忘れの方はこちら</a>
                              </div>
                      </form>
                      </div>
                  </div>
                    
                          
                            
                  